# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.*.local

# Diretórios do sistema
.DS_Store
Thumbs.db

# Dependências
/node_modules

# Diretórios de build
/dist
/build
/.turbo
/.next
/out

# Cache do pacote
package-lock.json
yarn.lock
.pnpm-debug.log
.npm

# Testes
/coverage

# Editor configs
.vscode
.idea

# Sistema operacional
*.swp
*~

# Arquivos temporários
tmp/
temp/
*.tmp
*.bak

# Docker
docker-compose.override.yml

# Sequelize migrations (se quiser ignorar dumps)
*.sqlite
*.sqlite3

# Outras IDEs
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

